# This file specifies environment variables visible
# to the DivSeek Canada (GMOD/Tripal) Docker Compose build.
# See https://docs.docker.com/compose/environment-variables
#
# A copy of this file should be made into '.env'
#
# If you proxy the DivSeek Canada Portal through a web server
# (e.g. NGINX, Apache), you need to reset this value
#
# GMOD_SITE_BASE_HOSTNAME=sunflower.divseekcanada.ca
#
GMOD_SITE_BASE_HOSTNAME=localhost

